{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>

    {%block title%}

    {%endblock%}

    {%block javascript%}

    {%endblock%}


    {%block style%}

    {%endblock%}

</head>
<body>
    {% block content %}

    {%endblock%}
</body>
</html>

